@import "assets/_colors.scss";
$debugging:false;


div, article, aside, section {
  @if $debugging {
    outline: 1px solid black;
  }
}

body {
  background-color: $echogrey;
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
}

a {
  text-decoration: none;
  color: $echogrey;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0 40px 0 40px;
  li {
    display: inline-block;
  }
}

p {
  color: $echodarkturq;
  font-weight: 400;
  margin: 0;
}


// Banner
.banner {
  height: 400px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
	.mobile-logo {
    width: 70%;
  }
  .desktop-logo {
    display: none;
  }
}

// Filter menu

.filter-menu {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;

  .first {
    display: flex;
    flex: 2;
  }
  .logout {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    //align-self: flex-end;
    align-items: center;
  }
}


//Main

main {
  margin: 0px 0px 0px 0px;
  min-height: 500px;
}

// Blog posts
.load-post {
  display:none;
}

.post {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin-bottom: 40px;
  .post-img {
    flex: 1;
    img {
    width: 100%;
    }
  }
  .post-text {
    flex: 0;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .tags, .post-info, .comments {
      color: $echoturq;
      font-weight: 700;
      font-size: 0.8em;
    }
    div:first-child, .tags {
      margin-bottom: 25px;
    }
    .blog-content {
      line-height: 1.5em;
    }
    h1 {
      color: $echoturq;
      font-size: 2.5em;
      font-weight: 300;
    }
    div:last-child {
      align-self: baseline;
    }
    .post-info {
      margin-bottom: 6px;
    }
  }
}

// Show more posts
.load {
  display: flex;
  width: 100%;
  justify-content: center;
  #loadMore {
    color: $echodarkturq;
    font-size: 2.5em;
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    &:hover {
      color: $echoturq;
    }
  }
}

// .totop {
//   position: fixed;
//   bottom: 10px;
//   right: 20px;
//   a {
//     display: none;
//   }
// }


// pagination
.pagination {
  a {
    color: $echoturq;
  }
}



// Footer
footer {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: $echogrey;
  background-color: $echodarkturq;
  height: 200px;
  padding: 25px 40px;
  display: flex;
  .hide {
    display: none;
    ul li a {
      &:hover {
        color: $echoturq;
      }
    }
  }
  .social {
    margin: 10px;
    a {
      transition: all 200ms ease-in-out;
      -webkit-transition: all 200ms ease-in-out;
      -moz-transition: all 200ms ease-in-out;
      -o-transition: all 200ms ease-in-out;
      &:hover {
        &:nth-child(1){
          color: $echored;
        }
        &:nth-child(2){
          color: $echoyellow;
        }
        &:nth-child(3){
          color: $echopink;
        }
      }

    }
  }
  div:nth-child(3) {
    font-size: 0.8em;
  }
  .fa {
    font-size: 3.8em;
    padding: 0 10px;
  }
}

// RANDOM COLOR IN FOOTER


//Tar bort desktop menu
 .top-menu{
  display:none;
}



/* HAMBURGER */
.hamburgerheader{
	width:100%;
	background:$echoturq;
	height:60px;
	line-height:60px;
}
.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:13px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.basemenu {
  z-index:1000000;
  font-weight:bold;
  font-size:0.8em;
  width:100%;
  background:$echoturq;
  position:absolute;
  text-align:center;
}
.basemenu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}
.basemenu li {
  display: block;
  padding:15px 0 15px 0;
  font-size:1.4em;
  //border: 1px solid white;
}
.basemenu li:hover {
  display: block;
  padding:15px 0 15px 0;
}
.basemenu ul:hover {
  display:block;
}

.basemenu ul li a {
  text-decoration:none;
  margin: 0px;
  color:#fff;
}
.basemenu a {
  text-decoration:none;
  color:white;
}
.basemenu a:hover {
  text-decoration:none;
  color:white;
}

.glyphicon-home{
  color:white;
  font-size:1.5em;
  margin-top:5px;
  margin:0 auto;
}


/* css för SELECT som ligger i hamburgermenyn */
select {
  background-color:$echoturq;
  border: 0px solid;
  color:white;
  background:none;

}


//utfyllnad
.bluefiller {
  width:100%;
  height: 60px;
  background-color: $echoturq;
  display:inline-block;
}
