/* ***************************
           ASSETS
*************************** */

@import "assets/_colors.scss";

/* ***************************
           BANNER
    index.php/comments.php
*************************** */

.banner {
	.mobile-logo {
		display: none;
  }
  .desktop-logo {
    display: block;
		width: 90%;
  }
}

/* ***************************
        BASE FOR MENUS
    index.php/comments.php
*************************** */

.menu {
  height: 60px;
  width: 100%;
  background-color: $echoturq;
  display: flex;
  align-items: center;
  flex-direction: row;
  a {
    padding: 14px 15px 22px 15px;
    color: $echogrey;
  }
}

//HIDES HAMBURGER MENU AND FILLER (MOBILE)
.menu2, .bluefiller {
	display:none;
}

/* ***************************
           USER FEEDBACK
*************************** */

.feedback {
	padding: 60px 100px;
}
.comment-feedback {
  top: 850px;
}
/* ***************************
           TOP MENU
    index.php/comments.php
*************************** */

.top-menu {
  justify-content: space-between;
  a:hover {
    color: $echodarkblue;
		@include transition(all 200ms ease-in-out);
  }
}

/* ***************************
         FILTER MENU
    index.php/comments.php
*************************** */

.filter-menu {
	display: flex;
	a {
	  @include transition(all 200ms ease-in-out);
	}
	a:hover, a:active {
		background-color: $echogrey;
		color: $echodarkblue;
	}
}

//DROPDOWN MENU
.dropdown-btn {
    background-color: $echoturq;
		color: $echogrey;
    border: none;
    cursor: pointer;
}
.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
		&:hover {
			background-color: #f1f1f1
		}
}
.dropdown:hover .dropdown-content {
    display: block;
}
.month {
	text-decoration: none;
}

/* ***************************
            MAIN
    	  all pages
*************************** */

main {
	margin: 120px 40px 80px 40px;
}
.admin-main {
	margin-top: 80px;
	section {
		padding: 40px;
	}
}
.margin {
  margin-bottom: 250px;
}

/* ***************************
           FORMS
    all pages with forms
*************************** */

form {
	button {
    width: 49%;
	}
}
div.post-content {
  box-sizing:border-box;
}
/* ***************************
          COMMENTS
        comments.php
*************************** */

.comment-form {
	padding: 40px 40px 10px 40px;
 }
 .comment {
  flex-direction: row;
  padding: 40px;
  .comment-fa {
  	margin: 0 40px 0 0;
  	i.fa-user-circle {
    	font-size: 3.5em;
  	}
  }
  .comment-content {
  	 margin-right: 20%;
  }
 }


/* ***************************
           ABOUT ME
    aboutme.php
*************************** */

.about-main {
    margin-top: 80px;

      section {
        padding: 40px;

          img {
            width: 30%;
            float:left;
            margin:20px 40px 20px 0;
          }
          p {
            width: 85%;
            line-height: 1.5em;
          }
          .email {
            clear:both;


        }
    }
}


/* ***************************
         POST FORM
create_post.php/view_posts.php
*************************** */

.flex-container {
  flex-direction: row;
  flex-wrap: wrap;
}
.upload-image, .img-preview {
  flex: 1;
  input {
    width: 90%;
  }
}
.select-tag {
	label {
		display: inline-block;
	}
}
/* ***************************
         VIEW/EDIT POSTS
        view_posts.php
*************************** */

// .img-preview img {
//   margin-left: 10px;
// }


/* ***************************
           STATISTICS
         statistics.php
*************************** */

.statistics {
  display: flex;
  justify-content: space-around;
  padding: 80px 0;
  flex-direction: row;
  .box {
    margin: 30px;
  }
}

 /* ***************************
           PROFILE
          profile.php
*************************** */

// .profile {
//   display: flex;
//   flex-direction: row;
//   justify-content: flex-start;
//   flex-wrap: wrap;
//   .flex {
//     width: 50%;
//   }
//   img {
//     width: 70%;
//   }
//   button {
//     width: 100%;
//   }
//   .guest {
//     padding: 40px;
//   }
// }

.profile {
  section {
    padding: 0;
  }
}

/* ***************************
           FOOTER
    index.php/comments.php
*************************** */

footer {
	justify-content: space-between;
	flex-direction: row;
	.hide {
	display: initial;
	@include transition(all 200ms ease-in-out);
	}
	div {
		flex: 1;
		height: 50px;
		display: flex;
		align-items: flex-end;
		margin: 0;

		&:nth-child(2) {
			justify-content: center;
		}
		&:last-child {
			justify-content: flex-end;
			font-size: 1em;
		}
		.fa {
			font-size: 3em;
			padding: 0 15px;
		}
	}
	ul {
		padding: 0;
		list-style: disc inside none;
		li {
			display: list-item;
			&:first-child {
			    padding-bottom: 10px;
			}
		}
		a {
			padding: 0;
		}
	}
}

  .social {
    margin: 10px;
    a {
      color: $echogrey;
      @include transition(all 200ms ease-in-out);
      &:hover {
        &:nth-child(1){
          color: $echored;
        }
        &:nth-child(2){
          color: $echoyellow;
        }
        &:nth-child(3){
          color: $echopink;
        }
      }


  }
  div:nth-child(3) {
    font-size: 0.8em;
  }
  .fa {
    font-size: 3.8em;
    padding: 0 10px;
  }
}
