@import "assets/_colors.scss";


// Banner
.banner {
	.mobile-logo {
		display: none;
  }
  .desktop-logo {
    display: block;
		width: 70%;
  }
}

//Menus
.menu {
  height: 60px;
  width: 100%;
  background-color: $echoturq;
  display: flex;
  align-items: center;
  flex-direction: row;
  a {
    padding: 14px 15px 22px 15px;
  }
}

//Top menu
.top-menu {
  justify-content: flex-end;
  a:hover {
    text-decoration: underline;
  }
}


// Filter menu

.filter-menu {
	display: flex;
	a {
	  transition: all 200ms ease-in-out;
      -webkit-transition: all 200ms ease-in-out;
      -moz-transition: all 200ms ease-in-out;
      -o-transition: all 200ms ease-in-out;
	}
	a:hover, a:active {
		background-color: $echogrey;
		color: $echodarkblue;
	}
}

// Main
main {
	margin: 120px 40px 80px 40px;
}

.post {
	flex-direction: row;
  background-color: #fff;
  margin-bottom: 80px;
  .post-img {
		flex: 1.5;
    img {
      width: 100%;
    }
  }
	.post-text {
		flex: 1;
		padding: 40px;
	}
}

/* ****************
			drop down
***************** */

.dropdown-btn {
    background-color: $echoturq;
		color: $echogrey;
    border: none;
    cursor: pointer;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
		&:hover {
			background-color: #f1f1f1
		}
}

.dropdown:hover .dropdown-content {
    display: block;
}

.month {
	text-decoration: none;
}


//Footer
footer {
	justify-content: space-between;
	flex-direction: row;
	.hide {
	display: initial;
	}
	div {
		flex: 1;
		height: 50px;
		display: flex;
		align-items: flex-end;
		margin: 0;

		&:nth-child(2) {
			justify-content: center;
		}
		&:last-child {
			justify-content: flex-end;
			font-size: 1em;
		}
		.fa {
			font-size: 3em;
			padding: 0 15px;
		}
	}
	ul {
		padding: 0;
		list-style: disc inside none;
		li {
			display: list-item;
			&:first-child {
			    padding-bottom: 10px;
			}
		}
		a {
			padding: 0;
		}
	}
}
//ta bort mobilmenyn + mobil filler
.menu2, .bluefiller {
	display:none;
}
