/* ***************************
           ASSETS
*************************** */

@import "assets/_colors.scss";

/* ***************************
           BANNER
*************************** */

.banner {
	.mobile-logo {
		display: none;
  }
  .desktop-logo {
    display: block;
		width: 75%;
  }
}

/* ***************************
            MAIN
        all pages
*************************** */

main {
	margin: 60px 40px;
}

/* ***************************
         BLOG POSTS
         index.php
*************************** */

.post {
	flex-direction: row;
	background-color: #fff;
	margin-bottom: 80px;
	.post-img {
		flex: 1.5;
  	img {
  	  width: 100%;
  	}
	}
	.post-text {
		flex: 1;
		padding: 40px;
	}
}


/* ***************************
          COMMENTS
        comments.php
*************************** */
.comment {
  padding: 40px 40px 40px 40px;
  .comment-fa > i.fa-user-circle {
    font-size: 2.8em;
  }
}
/* ***************************
         VIEW/EDIT POSTS
        view_posts.php
*************************** */
.list > .flex-list {
  flex-direction: row;
}
.create-date {
      padding: 0;
}


/* ***************************
          ABOUT ME
        aboutme.php
*************************** */
.about-main {
	section {
		padding: 20px 20px 40px 20px;
	  h1 {
		  padding: 0; 
		}
    img {
      width: 40%;
      float: left; 
      margin: 20px 20px 20px 0; 
    }
    p {
    	margin-top:25px; 
      width: 95%;
      line-height: 1.5em;  
      padding: 0; 
    }
    .email {
      clear: both;
      padding: 0;   
    }
  }
}
