@mixin border-radius($radius) {
	border-radius:$radius;
}

/* transition for links and buttons */
@mixin transition($str) {
	-webkit-transition: $str;
	-moz-transition: $str;
	-o-transition: $str;
}


/* @include transition(all 200ms ease-in-out); */
