@mixin border-radius($radius) {
	border-radius:$radius;
}

/* transition for links and buttons */
@mixin transition($str) {
	-webkit-transition: $str;
	-moz-transition: $str;
	-o-transition: $str;
}


@mixin centerer {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
